// .container{

//   margin: 0 auto;
//   padding: 0 88px;

// }

// @media screen and (min-width: 480px){
//   .container{
//       width: 480px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container {
//       width: 768px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .container {
//       width: 1200px;
//   }
// }