
.container .today-info {
  width: 280px;
  height: 190px;
  top: 444px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  position: absolute;
}

.current-date {
    width: 280px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top:30px;
    justify-content: center;
    }
#todays-date {
  display: flex;
  align-items: center;
  text-align: center;

}
#day {
  letter-spacing: 0.04em;
}

.current-mth {
  display: flex;
  align-items: center;
  justify-content: center;
}

#month {
  top: 533px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-right:10px;
}

.line {
  opacity: 0.4;
}

#date-time {
  padding-left:10px;
  width: 60px;
  height: 17px;
  left: 170px;
  top: 533px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}


.current-set {
  display: flex;
  align-items: center;
  text-align:justify;
  justify-content: center;

}

.rise__icon {
  width:40px;
  height: 40px;
  fill:$thirdColor;
  padding-left:0px;
}

.set__icon {
  width:40px;
  height: 40px;
  fill:$thirdColor;
}

.rise__time {

  top: 575px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-right:10px;
}

.set__time {
  top: 575px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-left:10px;
}
@media screen and (min-width: 768px){
  .container .today-info {
    width: 500px;
    height: 278px;
    top: 666px;
  }

  .current-date {
      width: 290px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      font-size: 90px;
      line-height: 108px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.04em;
      color: #FFFFFF;
      justify-content: center;
      margin-top:30px;
      margin-left:105px;

      }
  #todays-date {
    display: flex;
    align-items: center;
    text-align: center;
  }
  #day {
    letter-spacing: 0.04em;
  }

  .current-mth {
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top:10px;
  }

  #month {
    top: 832px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  .line {
    opacity: 0.4;
    margin:0;
    border: 1px solid #FFFFFF;
  }

  #date-time {
    padding-left:10px;
    width: 77px;
    left: 404px;
    top: 832px;
    font-size: 18px;
    line-height: 22px;
  }

  .current-set {
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top:30px;
  }

  .rise__icon {
    width:40px;
    height: 40px;
    fill:$thirdColor;
    margin-right:0;
    margin-left:25px;
  }
  .set__icon {
    width:40px;
    height: 40px;
    fill:$thirdColor;
    margin-left:20px;
  }

  .rise__time {
    top: 884px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-right:20px;
  }

  .set__time {
    top: 884px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
 }

@media screen and (min-width: 1280px) {
  .container .today-info {
    width: 630px;
    height: 278px;
    left:0px;
    top: 672px;
    background: rgba(16, 33, 54, 0.6);
    border-radius: 0px 34px 0px 0px;

  }
.desktop_li{
  display:flex;
  align-items: center;
    text-align: center;
    justify-content: baseline;
}
  .current-date {
      width: 290px;
      font-size: 90px;
      line-height: 108px;


      }
  #todays-date {
    display: flex;
    align-items: center;
    text-align: center;

  }
  #day {
    letter-spacing: 0.04em;
  }

  .current-mth {
    display: flex;
    align-items: center;
margin-left:110px;
    justify-content: center;
  }

  #month {
    top: 838px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    padding-right:20px;
  }

  .line {
    opacity: 0.4;
  }

  #date-time {
    padding-left:20px;
    width: 77px;
    top: 838px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }


  .current-set {
    display: flex;
    align-items: center;
    text-align:justify;
    padding-top:10;
    padding-left:20px;
  }

  .rise__icon {
    width:40px;
    height: 40px;
    fill:$thirdColor;
    justify-items: baseline;
  }

  .set__icon {
    width:40px;
    height: 40px;
    fill:$thirdColor;
  }

  .rise__time {
    top: 838px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .set__time {
    top: 838px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}