body {
  font-family: var(--font-main);
  margin: 0 auto;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 112px;
    margin: 0 auto;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fee5a6 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #fee5a6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f3c34f;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f39a2d;
}
