// body {
//   font-family: $mainFont;
//   color: $mainColor;
//   margin: 0 auto;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }

// ul,
// ol {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// p {
//   padding: 0;
//   margin: 0;
// }

