body {
  background-image: url("../images/Слой-2 1.jpg") ;


  background-position: center;
  background-size: cover;

mix-blend-mode: multiply;

}

.search-form {
  position: absolute;
  top: 30;
  left: 20;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;


}

input {
  position: absolute;
  width: 90px;
  height: 17px;
  left: 77px;
  top: 45px;
  width: 280px;
  height:48px;
  background-color: #fff;
  border-radius: 30px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;



}

@media screen and (min-width: 768px){

  .search-form {
    position: absolute;
width: 500px;
height: 48px;
left: 134px;
top: 60px;


  }

  input {
    position: absolute;
width: 116px;
height: 22px;
left: 188px;
top: 73px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #000000;


  }


}

@media screen and (min-width: 1280px) {

  .search-form {
    position: absolute;

    left: 380px;
    top: 79px;





  }

  input {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 434px;
    top: 92px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;


    background-color: #FFFFFF;
    border-radius: 30px;
    border-color: none;
    width: 520px;
    height: 48px;


  }

}




