input {
  display: block;
  background-color: #ffffff;
  font-size: 18px;
  padding-left: 54px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 30px;
  border: none;
  font-family: $mainFont;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.search__history {
  display: flex;
  margin-bottom: 1px;
}

.search__history-list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 170px;
  margin: 0 auto;
}

.search__history-list-item {
  max-width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1a1a1a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.214;
  margin-right: 10px;
  max-height: 28px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 50px;
  padding: 5px 10px 5px 12px;
}

.search__city-name,
.modal__close-city{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover,
  &:focus{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, color, box-shadow 250ms;
    opacity: 1;
    text-decoration: none;
  }
}
.search__city-name{
  margin-right: 10px;
  text-decoration-line: underline;
}
.modal__close-city{
  opacity: 0.5;
}

.hidden-btn {
  visibility: hidden;
}
.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 122px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity:0.54;
  border-radius: 50%;
  border: 1.5px solid #FFFFFF;
  background:#FFFFFF;
  background-image: url(../images/chart.svg);
  &:focus,
  &:hover{
      background: #FFFFFF;
      opacity: 1;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color, color, box-shadow 250ms;
      }
}

.prev {
  left: 60px;
  transform: rotate(90deg);
}

.next {
  right: 60px;
  transform: rotate(-90deg);
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 79px auto 12px;
}

.search-btn-container {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  width: 240px;
  pointer-events: none;
}

.search-form-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  input {
    width: 500px;
    height: 48px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 60px;
    margin-bottom: 12px;
  }

  .search-btn-container {
    width: 480px;
  }

.search__history {
  display: flex;
  margin-bottom: 1px;
}

.search__history-list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto;
}

.search__history-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1a1a1a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.214;
  margin-right: 10px;
  max-height: 28px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 50px;
  padding: 5px 10px 5px 12px;
}

.search__city-name,
.modal__close-city {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  cursor: pointer;
  &:hover,
  &:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, color, box-shadow 250ms;
    opacity: 1;
    text-decoration: none;
  }
}

.search__city-name {
  margin-right: 10px;
  text-decoration-line: underline;
}

.modal__close-city {
  opacity: 0.5;
}

.hidden-btn {
  visibility: hidden;
}

.prev,
.next {
  display: flex;
  top: 122px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.54;
  border-radius: 50%;
  border: 1.5px solid #FFFFFF;
  background: #FFFFFF;
  background-image: url(../images/chart.svg);
  &:focus,
  &:hover {
    background: #FFFFFF;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, color, box-shadow 250ms;
  }
}

.prev {
  transform: rotate(90deg);
}

.next {
  transform: rotate(-90deg);
}
}

@media screen and (min-width: 1280px) {
  input {
    width: 520px;
    height: 48px;
    margin-top: 79px;
    margin-bottom: 12px;
  }

  .search-btn-container {
    width: 500px;
  }

.search__history {
  display: flex;
  margin-bottom: 1px;
}

.search__history-list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto;
}

.search__history-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1a1a1a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.214;
  margin-right: 10px;
  max-height: 28px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 50px;
  padding: 5px 10px 5px 12px;
}

.search__city-name,
.modal__close-city {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover,
  &:focus {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, color, box-shadow 250ms;
    opacity: 1;
    text-decoration: none;
  }
}

.search__city-name {
  margin-right: 10px;
  text-decoration-line: underline;
}

.modal__close-city {
  opacity: 0.5;
}

.hidden-btn {
  visibility: hidden;
}

.prev,
.next {
  display: flex;
  top: 122px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.54;
  border-radius: 50%;
  border: 1.5px solid #FFFFFF;
  background: #FFFFFF;
  background-image: url(../images/chart.svg);

  &:focus,
  &:hover {
    background: #FFFFFF;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color, color, box-shadow 250ms;
  }
}

.prev {
  transform: rotate(90deg);
}

.next {
  transform: rotate(-90deg);
}
}
