.search__form {
  width: 280px;
  height: 48px;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 20px;
}

input {
  // position: absolute;
  padding-top: 13px 350px 13px 54px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 0 auto;
}

.location {
  box-sizing: border-box;

  width: 18px;
  height: 18px;
  left: 42px;

  border: 2px solid #aeb3b9;
}

.star {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  left: 258px;
  border: 1px solid #7e8691;
}

.search__history {
  display: flex;
}

.search__history-list {
  display: flex;
  justify-content: flex-start;
  // align-content: center;
  overflow: hidden;
  max-width: 520px;
  margin: 0 auto;
}

.search__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #1a1a1a;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.214;
  margin-right: 10px;
  max-height: 28px;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 50px;
  padding: 9px 10px 5px 12px;
}

.search__list-item p {
  margin: 0;
  margin-left: 10px;
}
.hidden-btn {
  visibility: hidden;
}
.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 28px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 7px;
  position: absolute;
  top: 80px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media screen and (min-width: 768px) {
  .search-form {
    width: 500px;
    height: 48px;
    left: 134px;
    top: 60px;
  }

  input {
    width: 116px;
    height: 22px;
    left: 188px;
    top: 73px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    left: 380px;
    top: 79px;
  }
  input {
    width: 116px;
    height: 22px;
    left: 434px;
    top: 92px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    background-color: #ffffff;
    border-radius: 30px;
    border-color: none;
    width: 520px;
    height: 48px;
  }
}
