
.sentence-text {
  width: 280px;
  margin: 0 auto;
  position: relative;
  top: 80px;

}
.sentence-text p {
  width: 280px;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin:0 auto;
  position:relative;
}

.sentence-text span {
  width: 280px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  text-transform: capitalize;
  letter-spacing: 0.04em;
}


@media screen and (min-width: 768px){
  .sentence-text{
    top:120px;
    width:379px;
    margin: 0 auto;
    position: relative;

  }
  .sentence-text p {
    width: 379px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

  .sentence-text span {
    width: 379px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    text-align: right;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    position:relative;
  }

}
@media screen and (min-width: 1280px) {
  .sentence-text p {
    position:relative;
    width: 340px;
    top:670px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  .sentence-text span {
    top:690px;
    position:relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    text-align: right;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left:30px;
    width: 340px;
  }
  .rightS {
    position:absolute;
    right:100;
  }
 }
