.buttonToday-list {
  width: 270px;
  height: 28px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 140px;
}

.buttonTdy-list-item {
  display: flex;
}

.todaybtn,
.fivedaysbtn {
  height: 27px;
  width: 126px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.fivedaysbtn {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.todaybtn {
  background: #ffffff;
  border-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .buttonToday-list {
    width: 270px;
    height: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 230px;
  }
}

@media screen and (min-width: 1280px) {
  .buttonToday-list {
    width: 270px;
    height: 28px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    top: 450px;
    position: relative;
  }

  .buttonsTdy {
    display: flex;
    justify-content: flex-end;
  }

  .buttonTdy-list-item {
    display: flex;
  }

  .todaybtn,
  .fivedaysbtn {
    height: 27px;
    width: 126px;
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
}