@media screen and (min-width: 320px) and (max-width: 767px) {

    .five-days-wheather{
        padding: 30px 25px 0px 25px;
        background-image: url(../images/MM/Rectangle66.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-list{
        width: 270px;
        height: 28px;
        padding-top: 65px;
        padding-bottom: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .button-list-item{
        display: flex;
    }

    .today-btn,
    .five-days-btn {
        height: 27px;
        width: 126px;
        top: 187px;
        border-radius: 20px;
        padding: 0px 12px 0px 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .today-btn {
        background: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .five-days-btn {
        background: #FFFFFF;
        border-color: #FFFFFF;
    }
    .city-name{
        display: none;
    }

    .city-name,
    .city-name-mobile {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        z-index: 1;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .wheather-container {
        width: 280px;
        height: 273px;
        margin: auto;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 34px;
    }

    .wheather-list{
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .wheather-list-item{
        justify-content: space-around;
    }

    .wheather-list-item2{
        display: none;
    }
    .day-of-the-week {
        margin: auto;
        padding-bottom: 10px;
        justify-content: center;
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.55;
        display: flex;
    }

    .day-of-the-month {
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 5px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .wheather-icon{
        height: 25px;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 5px;
    }

    .min-temp,
    .max-temp,
    .more-info {
        justify-content: center;
        margin: auto;
        padding-bottom: 5px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #767D85;
    }

    .more-info {
        text-decoration-line: underline;
        font-size: 14px;
        cursor: pointer;
        display: flex;
    }

    .min-temp,
    .max-temp{
        display: inline-flex;
        width: 30px;
        padding-left: 30px;
    }

    .min-temperature,
    .max-temperature {
        display: inline-flex;
        width: 30px;
        margin: auto;
        padding-bottom: 5px;
        padding-left: 22px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FF6B09;
    }

    .arrow-back,
    .arrow-next {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border: 1.5px solid #FFFFFF;
        border-radius: 50%;
    }

    .arrow-back {
        opacity: 0.5;
        margin: 10px 195px 0px 15px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1279px) {

    .five-days-wheather{
        padding: 60px 74px 53px 74px;
        background-image: url(../images/MM/Rectangle66.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-list{
        width: 270px;
        height: 28px;
        padding-top: 377px;
        padding-bottom: 25px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .button-list-item{
        display: flex;
    }
     .today-btn,
    .five-days-btn {
        height: 27px;
        width: 126px;
        top: 187px;
        border-radius: 20px;
        padding: 0px 12px 0px 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .today-btn {
        background: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .five-days-btn {
        background: #FFFFFF;
        border-color: #FFFFFF;
    }
    .city-name-mobile{
        display: none;
    }

    .city-name,
    .city-name-mobile {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        z-index: 1;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .wheather-container {
        margin: auto;
        width: 620px;
        height: 270px;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 34px;
    }
    .wheather-list {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 40px;
    }

    .wheather-list-item,
    .wheather-list-item2  {
        justify-content: space-around;
    }

    .day-of-the-week {
        margin: auto;
        padding-bottom: 10px;
        justify-content: center;
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.55;
        display: flex;
    }

    .day-of-the-month {
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .wheather-icon {
        height: 25px;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
    }

    .min-temp,
    .max-temp,
    .more-info {
        justify-content: center;
        margin: auto;
        padding-bottom: 16px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #767D85;
    }

    .more-info {
        text-decoration-line: underline;
        font-size: 14px;
        cursor: pointer;
        display: flex;
    }

    .min-temp,
    .max-temp {
        display: inline-flex;
        width: 50px;
        padding-left: 19px;
    }

    .min-temperature,
    .max-temperature {
        display: inline-flex;
        width: 50px;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 19px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FF6B09;
    }

    .arrow-back,
    .arrow-next {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

.five-days-wheather {
        padding: 79px 110px 72px 110px;
        background-image: url(../images/MM/Rectangle66.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-list {
        width: 270px;
        height: 28px;
        padding-top: 476px;
        padding-bottom: 28px;
        padding-left: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .button-list-item {
        display: flex;
        margin-left: 18px;
    }

    .today-btn,
    .five-days-btn {
        height: 27px;
        width: 126px;
        top: 187px;
        border-radius: 20px;
        padding: 0px 12px 0px 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }

    .today-btn {
        background: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .five-days-btn {
        background: #FFFFFF;
        border-color: #FFFFFF;
    }
    .city-name{
        display: inline-flex;
        margin: auto;
        padding-left: 475px;

    }
    .city-name-mobile {
        display: none;
    }

    .city-name,
    .city-name-mobile {
        margin: auto;
        padding-bottom: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        z-index: 1;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .wheather-container {
        margin: auto;
        width: 1060px;
        height: 308px;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 34px;
    }

    .wheather-list {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 40px;
    }

    .wheather-list-item,
    .wheather-list-item2 {
        justify-content: space-around;
    }

    .day-of-the-week {
        margin: auto;
        padding-bottom: 10px;
        justify-content: center;
        text-align: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.55;
        display: flex;
    }

    .day-of-the-month {
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .wheather-icon {
        height: 25px;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 30px;
    }

    .min-temp,
    .max-temp,
    .more-info {
        justify-content: center;
        margin: auto;
        padding-bottom: 16px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #767D85;
    }

    .more-info {
        text-decoration-line: underline;
        font-size: 14px;
        cursor: pointer;
        display: flex;
    }

    .min-temp,
    .max-temp {
        display: inline-flex;
        width: 90px;
        padding-left: 19px;
    }

    .min-temperature,
    .max-temperature {
        display: inline-flex;
        width: 90px;
        margin: auto;
        padding-bottom: 20px;
        padding-left: 15px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FF6B09;
    }

    .arrow-back,
    .arrow-next {
        display: none;
    }
}