@media screen and (min-width: 320px) and (max-width: 767px) {

    .wheather__more{
        padding: 30px 25px 0px 25px;
    }
    .wheather__more-list{
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 218px;
    }
    .wheather__more-container{
        width: 280px;
        height: 273px;
        margin: auto;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 0px 0px 34px 34px;
        padding: 20px 14px 49px 14px;
    }

    .wheather__more-list-item{
        justify-content: space-around;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        padding: 15px 16px 18px 16px;
    }

    .wheather__more-list-item2,
    .wheather__more-list-item3{
        display: none;
        justify-content: space-around;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        padding: 15px 16px 18px 16px;
    }

    .wheather__hour{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wheather__barometer,
    .wheather__humidity{
        padding-bottom: 5px;
    }

    .wheather__wind{
        padding-bottom: 10px;
    }

    .wheather__hour,
    .wheather__barometer,
    .wheather__humidity,
    .wheather__wind{
        margin: auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.54;
    }
    .wheather__icon{
        width: 35px;
        height: 25px;
        padding-bottom: 10px;
    }

    .wheather__temp{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;  
        color: #FF6B09;
        padding-bottom: 10px;
    }
    .arrow-next-btn{
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {

    .wheather__more {
        padding: 40px 39px 88px 39px;
    }

    .wheather__more-list {
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 218px;
        width: 640px;
    }

    .wheather__more-container {
        width: 620px;
        height: 273px;
        margin: auto;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 0px 0px 34px 34px;
        padding: 20px 14px 49px 14px;
    }

    .wheather__more-list-item, 
    .wheather__more-list-item2{
        justify-content: space-around;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        padding: 15px 16px 18px 16px;
    }
    .wheather__more-list-item3{
        display: none;
    }

    .wheather__hour {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wheather__barometer,
    .wheather__humidity {
        padding-bottom: 5px;
    }

    .wheather__wind {
        padding-bottom: 10px;
    }

    .wheather__hour,
    .wheather__barometer,
    .wheather__humidity,
    .wheather__wind {
        margin: auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.54;
    }

    .wheather__icon {
        width: 35px;
        height: 25px;
        padding-bottom: 10px;
    }

    .wheather__temp {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FF6B09;
        padding-bottom: 10px;
    }

    .arrow-next-btn {
        margin: auto;
        width: 25px;
        height: 25px;
        cursor: pointer;
        border: 1.5px solid #FFFFFF;
        border-radius: 50%;
    }
}


@media screen and (min-width: 1280px) {

.wheather__more {
        padding: 40px 39px 88px 39px;
    }

    .wheather__more-list {
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 218px;
        width: 900px;
    }

    .wheather__more-container {
        width: 1060px;
        height: 273px;
        margin: auto;
        background: rgba(16, 33, 54, 0.8);
        box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
        border-radius: 0px 0px 34px 34px;
        padding: 20px 14px 49px 14px;
    }

    .wheather__more-list-item,
    .wheather__more-list-item2,
    .wheather__more-list-item3 {
        justify-content: space-around;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        padding: 15px 29px 40px 29px;
        width: 120px;
    }

    .wheather__hour {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .wheather__barometer,
    .wheather__humidity {
        padding-bottom: 5px;
    }

    .wheather__wind {
        padding-bottom: 10px;
    }

    .wheather__hour,
    .wheather__barometer,
    .wheather__humidity,
    .wheather__wind {
        margin: auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.54;
    }

    .wheather__icon {
        height: 25px;
        padding-bottom: 10px;
    }

    .wheather__temp {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FF6B09;
        padding-bottom: 10px;
    }
    
    .arrow-next-btn{
        display: none;
    }
}