@media screen and (min-width: 320px) and (max-width: 767px) {
  .wheather__more {
    padding: 30px 25px 0px 25px;
  }
  .wheather__more-list {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    margin: auto;
    height: 218px;
    width: 250px;
  }
  .wheather__more-container {
    width: 280px;
    height: 295px;
    margin: auto;
    background: rgba(16, 33, 54, 0.8);
    box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
    border-radius: 0px 0px 34px 34px;
    padding: 20px 10px 49px 10px;
    overflow: hidden;
  }

  .wheather__more-list-item {
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 15px 12px 18px 12px;
    min-width: 120px;
    margin-right: 10px;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .wheather__hour {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }

  .wheather__barometer,
  .wheather__humidity {
    padding-bottom: 5px;
    margin-left: 25px;
  }

  .wheather__wind {
    padding-bottom: 10px;
    margin-left: 25px;
  }

  .wheather__hour,
  .wheather__barometer,
  .wheather__humidity,
  .wheather__wind {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.54;
    margin: auto;
  }

  .wheather__barometer::before {
    content: '';
    background-image: url('../images/MM/barometer.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__humidity::before {
    content: '';
    background-image: url('../images/MM/humidity.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__wind::before {
    content: '';
    background-image: url('../images/MM/wind.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }
  .svg_moreInfo {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
  }

  .wheather__temp {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ff6b09;
    padding-bottom: 10px;
  }

  .arrow-next-btn,
  .arrow-back-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 0.5px solid #fff3;
    border-radius: 50%;
    opacity: 0.54;
    margin-top: 15px;
    background-color: #fff3;
    background-image: url(../images/chart.svg);
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background: #ffffff;
      opacity: 1;
    }
  }
  .arrow-next-btn {
    transform: rotate(-90deg);
    visibility: hidden;
  }
  .arrow-back-btn {
    transform: rotate(90deg);
    margin-left: 190px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wheather__more {
    padding: 40px 39px 88px 39px;
  }

  .wheather__more-list {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    height: 218px;
    width: 650px;
  }

  .wheather__more-container {
    width: 620px;
    height: 300px;
    margin: auto;
    background: rgba(16, 33, 54, 0.8);
    box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
    border-radius: 0px 0px 34px 34px;
    padding: 20px 10px 49px 10px;
    overflow: hidden;
  }

  .wheather__more-list-item {
    min-width: 120px;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 15px 12px 18px 12px;
    margin-right: 10px;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .wheather__hour {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }

  .wheather__barometer,
  .wheather__humidity {
    padding-bottom: 5px;
    margin-left: 25px;
  }

  .wheather__wind {
    padding-bottom: 10px;
    margin-left: 25px;
  }

  .wheather__hour,
  .wheather__barometer,
  .wheather__humidity,
  .wheather__wind {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.54;
    margin: auto;
  }

  .wheather__barometer::before {
    content: '';
    background-image: url('../images/MM/barometer.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__humidity::before {
    content: '';
    background-image: url('../images/MM/humidity.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__wind::before {
    content: '';
    background-image: url('../images/MM/wind.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .svg_moreInfo {
    width: 25px;
    height: 25px;
    margin-left: 35px;
  }

  .wheather__temp {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ff6b09;
    padding-bottom: 10px;
  }

  .arrow-next-btn,
  .arrow-back-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 0.5px solid #fff3;
    border-radius: 50%;
    opacity: 0.54;
    margin-top: 20px;
    background-color: #fff3;
    background-image: url(../images/chart.svg);
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background: #ffffff;
      opacity: 1;
    }
  }
  .arrow-next-btn {
    transform: rotate(-90deg);
    margin-left: 570px;
  }
  .arrow-back-btn {
    transform: rotate(90deg);
    margin-left: 530px;
  }
}

@media screen and (min-width: 1280px) {
  .wheather__more {
    padding: 40px 39px 88px 39px;
  }

  .wheather__more-list {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 218px;
    width: 900px;
  }

  .wheather__more-container {
    width: 1060px;
    height: 295px;
    margin: auto;
    background: rgba(16, 33, 54, 0.8);
    box-shadow: 0px 5px 33px rgba(16, 33, 54, 0.6);
    border-radius: 0px 0px 34px 34px;
    padding: 20px 10px 49px 10px;
  }

  .wheather__more-list-item {
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    padding: 15px 25px 40px 25px;
    margin-left: 10px;
    min-width: 120px;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .wheather__hour {
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: center;
  }

  .wheather__barometer,
  .wheather__humidity {
    padding-bottom: 5px;
  }

  .wheather__wind {
    padding-bottom: 10px;
  }

  .wheather__hour,
  .wheather__barometer,
  .wheather__humidity,
  .wheather__wind {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.54;
    margin: auto;
  }

  .wheather__barometer::before {
    content: '';
    background-image: url('../images/MM/barometer.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -16px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__humidity::before {
    content: '';
    background-image: url('../images/MM/humidity.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -16px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .wheather__wind::before {
    content: '';
    background-image: url('../images/MM/wind.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -16px;
    margin-right: 10px;
    position: relative;
    justify-content: flex-start;
  }

  .svg_moreInfo {
    width: 35px;
    height: 35px;
    margin-left: 15px;
  }

  .wheather__temp {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ff6b09;
    padding-bottom: 10px;
  }

  .arrow-next-btn,
  .arrow-back-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 0.5px solid #fff3;
    border-radius: 50%;
    opacity: 0.54;
    margin-top: 20px;
    background-color: #fff3;
    background-image: url(../images/chart.svg);
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background: #ffffff;
      opacity: 1;
    }
  }

  .arrow-next-btn {
    transform: rotate(-90deg);
    display: none;
  }

  .arrow-back-btn {
    transform: rotate(90deg);
    display: none;
  }
}
