<section class="about">
    <div class="menu-btn-container">
        <a href="#aboutUs" title="About us" class="modal-open about-us"><span class="material-icons">groups</span>
        </a>
        <a href="#aboutUs" title="Change language" class="modal-open"><span
                class="material-icons change-language">translate</span>
        </a>
    </div>
    <div>
        <div class="overlay" id="aboutUs">
            <div class="modal">
                <svg class="borders" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                    preserveAspectRatio="true">

                    <line id="svg_3" fill="none" stroke="#000000" stroke-width="2" x1="2.0" y1="2.0" x2="80vw"
                        y2="2.0" />

                    <line id="svg_4" fill="none" stroke="#000000" stroke-width="2" x1="80vw" y1="80vh" x2="80vw"
                        y2="2.0" />

                    <line id="svg_2" fill="none" stroke="#000000" stroke-width="2" x1="2.0" y1="80vh" x2="80vw"
                        y2="80vh" />

                    <line id="svg_5" fill="none" stroke="#000000" stroke-width="2" x1="2.0" y1="2.0" x2="2.0"
                        y2="80vh" />

                </svg>
                <div class="modal-inner">
                    <a href="#" class="modal-close" title="Close Modal"><span class="close">&times;</span>
                    </a>
                    <h1 class="group_name">OUR TEAM - GROUP NUMBER 5</h1>

                    <div class="team">
                        <ul class="team-list">
                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T03HFSPVCDP-U03HJMQ58U9-30b9b8ff8302-512" width="152"
                                    alt="Team member - Tomek" />
                                <h3 class="team-list__title">Tomek</h3>
                                <p class="team-list__description">Team Lead</p>
                                <a href="https://github.com/skolim10" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <!-- <li class="team-list__item">
                            <img class="team-list__photo"
                                src="https://ca.slack-edge.com/T03HFSPVCDP-U03HJMQ58U9-30b9b8ff8302-512" width="152"
                                alt="Team member - " />
                            <h3 class="team-list__title">???????</h3>
                            <p class="team-list__description">Scrum Master</p>
                            <a href="https://github.com/skolim10" target="_blank" aria-label="Our Github">
                                <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github" width="25" />
                            </a>
                        </li> -->

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T03HFSPVCDP-U03HJG1T7PB-d23bfcc8ca93-512" width="152"
                                    alt="Team member - Ewa" />
                                <h3 class="team-list__title">Ewa</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/EwaMN" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T03HFSPVCDP-U03H8E6SPB6-f39608f8c22e-512" width="152"
                                    alt="Team member - Monika" />
                                <h3 class="team-list__title">Monika</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/monikamarciniak" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T03HFSPVCDP-U03HQQHQT8U-ea4eb3ad64eb-512" width="152"
                                    alt="Team member - Daria" />
                                <h3 class="team-list__title">Daria</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/DariaOskaOssowska" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T031TUBFNTF-U03281MRFEG-c6e85af46254-512" width="152"
                                    alt="Team member - Mateusz" />
                                <h3 class="team-list__title">Mateusz</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/N3cker" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T031TUBFNTF-U034E7BR9V0-1420bbb634f1-512" width="152"
                                    alt="Team member - Piotrek" />
                                <h3 class="team-list__title">Piotrek</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/piotrekzd" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>

                            <li class="team-list__item">
                                <img class="team-list__photo"
                                    src="https://ca.slack-edge.com/T03HFSPVCDP-U03GRH103JB-bb74db89c769-512" width="152"
                                    alt="Team member - Tomek" />
                                <h3 class="team-list__title">Tomek</h3>
                                <p class="team-list__description">Developer</p>
                                <a href="https://github.com/tomaszszklarz" target="_blank" aria-label="Our Github">
                                    <img class="logo-github" src="./images/logo-github.svg" alt="Logo Github"
                                        width="25" />
                                </a>
                            </li>
                        </ul>
                    </div>

                    <a class="ref__readme" href="https://goit.global/pl/" target="_blank" aria-label="GoIT">
                        <img class="logo-goit" src="https://goit.ua/wp-content/themes/1/images/Layer.png"
                            alt="Logo GoIT" />
                    </a>
                </div>

            </div>
        </div>


</section>