<section class="today-clock">
  <div class="container">
   <ul class="today-info">
     <li class="current-date">
       <p id="todays-date"></p>
       <sup><p id="suffix"></p></sup>
       <p id="day"></p>
     </li>
     <li class="current-mth">
       <p id="month">February</p>
       <div class="line" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
       <p id="date-time">21:30:56</p>
     </li>
     <li class="current-set">
       <p class="rise__icon"><svg><use href="./images/weather.svg#icon-Grouprise"></use></svg></p>
       <p id="sunrise" class="rise__time">07:04</p>
       <div class="line" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
       <p class="set__icon" ><svg><use href="./images/weather.svg#icon-Groupset"></use> </svg></p>
       <p id="sunset" class="set__time">17:05</p>

   </ul>
  </div>
 </section>