<section class="today-clock">
  <div class="container">
   <ul class="today-info">
     <li class="current-date">
       <p id="todays-date"></p>
       <sup><p id="suffix"></p></sup>
       <p id="day"></p>
     </li>
     <div class="desktop_li">
      <li class="current-mth">
        <p id="month">February</p>
        <div class="line" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
        <p id="date-time">21:30:56</p>
      </li>
      <li class="current-set">

        <p id="sunrise" class="rise__time"><svg class="rise__icon"><use href="./images/weather.svg#icon-Grouprise"></use></svg>07:04</p>
        <div class="line" style="border-left:1px solid #FFFFFF; height: 22px; width: 0"></div>
        <p id="sunset" class="set__time"><svg class="set__icon"><use href="./images/weather.svg#icon-Groupset"></use> </svg>17:05</p>
        </li>
      </div>

   </ul>
  </div>
</section>