<!-- <section class="search__section">
  <form class="search__form" id="search__form">
      <input type="text" name="searchQuery" autocomplete="on" placeholder="Enter the city" />
      <!-- <svg class="location"><use href="./images/sprite.svg#icon-icon-location"></use></svg>
      <svg class="star"><use href="./images/sprite.svg#icon-Star-1"></use></svg> -->

      <!-- <div class="search__history">
          <ul class="search__history-list">
              <li class="search__history-list-item">
                  <a href="#" class="search__city-name">city</a>
                  <p class="modal__close-city">X</p>
              </li>
              <li class="search__list-item">
                  <a href="#" class="search__city-name">city</a>
                  <p class="modal__close-city">X</p>
              </li>
              <li class="search__list-item">
                  <a href="#" class="search__city-name">city</a>
                  <p class="modal__close-city">X</p>
              </li>
              <li class="search__list-item">
                  <a href="#" class="search__city-name">city</a>
                  <p class="modal__close-city">X</p>
              </li>
          </ul>
          <button type="button" class="search__more-city">\/</button>
      </div>
</section> --> -->

<section class="today-weather">
  <div class="container">
    <ul class="today">
      <li ><svg class="today__icon"><use href="./images/weather.svg#icon-Group"></use></svg></li>
      <li class="today__cityName">Kyiv,UA</li>
      <li class="today__temp">
        <p class="today__temp--actuall">-3</p>
        <p class="today__temp--min">min <br> -2</p>
        <p class="today__temp--max">max <br> 1</p>
      </li>
    </ul>
  </div>

  </section>


  <!-- <div>
      <ul class="button-list">
          <li class="button-list-item"><button class="today" type="button">TODAY</button></li>
          <li class="button-list-item"><button class="fivedays" type="button">5 DAYS</button></li>
      </ul>
  </div>

</section>

<section class="today-clock">
 <div class="container">
  <ul class="today-info">
    <li>
      <p id="todays-date">8</p>
      <p id="suffix">th</p>
      <p id="day">Sat</p>
    </li>
    <li>
      <p id="month">February</p>
      <p id="date-time">21:30:56</p>
    </li>
    <li>
      <p class="rise__icon">ikona</p>
      <p id="sunrise" class="rise__time">07:04</p>
      <p class="set__icon">ikona</p>
      <p id="sunset" class="set__time">17:05</p>
  </ul>
 </div>
</section>

<section class="sentence">
  <div class="sentence-text">
==cytat ==
  </div>

</section>



 -->
