<section class="search__section">
  <form id="search__form" class="search__form">
    <div class="search-container">
      <div class="search-btn-container">
        <button id="btn-location" type="button" class="search-form-btn" title="Search by current location">
          <span class="material-icons icon">location_searching</span>
        </button>
        <button id="btn-favorite" type="button" class="search-form-btn" title="Search and add to favorites">
          <span class="material-icons icon">star_border</span>
        </button>
      </div>
      <input
        style="margin: 0"
        type="text"
        name="searchQuery"
        autocomplete="on"
        placeholder="Enter the city"
      />
    </div>
    <div class="search__history">
      <button type="button" class="prev hidden-btn"></button>
      <ul class="search__history-list">
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Madrid</a>
          <p class="modal__close-city" data-item="Madrid">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Lisbon</a>
          <p class="modal__close-city" data-item="Lisbon">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Warsaw</a>
          <p class="modal__close-city" data-item="Warsaw">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Berlin</a>
          <p class="modal__close-city" data-item="Berlin">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Paris</a>
          <p class="modal__close-city" data-item="Paris">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Rome</a>
          <p class="modal__close-city" data-item="Rome">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">Miami</a>
          <p class="modal__close-city" data-item="Miami">X</p>
        </li>
        <li class="search__history-list-item">
          <a href="#" class="search__city-name">London</a>
          <p class="modal__close-city" data-item="London">X</p>
        </li>
      </ul>

      <button type="button" class="next"></button>
    </div>
  </form>
</section>
