<section class="search__section">
    <form class="search__form" id="search__form">
        <input type="text" name="searchQuery" autocomplete="on" placeholder="Enter the city" />

        <div class="search__history">
            <ul class="search__history-list">
                <li class="search__history-list-item">
                    <a href="#" class="search__city-name">city</a>
                    <p class="modal__close-city">X</p>
                </li>
                <li class="search__list-item">
                    <a href="#" class="search__city-name">city</a>
                    <p class="modal__close-city">X</p>
                </li>
                <li class="search__list-item">
                    <a href="#" class="search__city-name">city</a>
                    <p class="modal__close-city">X</p>
                </li>
                <li class="search__list-item">
                    <a href="#" class="search__city-name">city</a>
                    <p class="modal__close-city">X</p>
                </li>
            </ul>
            <button type="button" class="search__more-city">\/</button>
        </div>
</section>