
<section class="today-weather">
  <div class="containerr right">
    <ul class="today">
      <li class="todayico"><svg class="today__icon"><use href="./images/weather.svg#icon-Group"></use></svg></li>
      <li class="today__cityName">Kyiv,UA</li>
      <li class="today__temp">
        <p class="today__temp--actuall">-3</p>
        <ul class="innerList">
          <li>
            <ul class="today__temp--min">
              <li><span class="spanM">min</span></li>
              <li class="today__temp--minNum">-2</li>
            </ul>
          </li>
                <li class="linetest"><div class="lineW" style="border-left:1px solid #27384A; height: 35px; width: 0"></div></li>
           <li>
            <ul class="today__temp--max">
              <li ><span class="spanM">max </span></li>
              <li class="today__temp--maxNum"> 1</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  </section>








