<section class="five-days-wheather">

        <ul class="button-list">
            <li class="button-list-item">
                <button class="today-btn" type="button">TODAY</button></li>
            <li class="button-list-item">
                <button class="five-days-btn" type="button">5 DAYS</button></li>
        </ul>
        <p class="city-name">Kyiv, UA</p>
        
    <div class="wheather-container">
        <p class="city-name-mobile">Kyiv, UA</p>
        <ul class="wheather-list">
            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="max-temp">max</p>
                <p class="min-temperature">-2</p>
                <p class="max-temperature">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="max-temp">max</p>
                <p class="min-temperature">-2</p>
                <p class="max-temperature">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="max-temp">max</p>
                <p class="min-temperature">-2</p>
                <p class="max-temperature">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item2">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="max-temp">max</p>
                <p class="min-temperature">-2</p>
                <p class="max-temperature">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item2">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="max-temp">max</p>
                <p class="min-temperature">-2</p>
                <p class="max-temperature">1</p>
                <a href="#" class="more-info">more info</a>
            </li>
        </ul>
        <button class="arrow-back" type="button"><</button>
        <button class="arrow-next" type="button">></button>
    </div>      
</section>