<section class="5-days-wheather">
    <div>
        <p class="city-name">City, UA</p>
        <ul class="button-list">
            <li class="button-list-item">
                <button class="5days" type="button">5 DAYS</button></li>
            <li class="button-list-item">
                <button class="today" type="button">TODAY</button></li>
        </ul>
    </div>


    <div class="container">
        <ul class="wheather-list">
            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min -2</p>
                <p class="max-temp">max 1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min -2</p>
                <p class="max-temp">max 1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min -2</p>
                <p class="max-temp">max 1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min -2</p>
                <p class="max-temp">max 1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min -2</p>
                <p class="max-temp">max 1</p>
                <a href="#" class="more-info">more info</a>
            </li>
        </ul>
    </div>
    
    <div class="show-chart">
        <p class="show-chart-link">Show Chart</p>
        <button type="button" class="show-chart">\/</button> 
    </div>


</section>