<section class="five-days-wheather">
    <div>
        <ul class="button-list">
            <li class="button-list-item">
                <button class="today-btn" type="button">TODAY</button></li>
            <li class="button-list-item">
                <button class="five-days-btn" type="button">5 DAYS</button></li>
        </ul>   
    </div>

    <p class="city-name">City, UA</p>

    <div class="wheather-container">
        
        <ul class="wheather-list">
            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="min-temperature">-2</p>
                <p class="max-temp">max</p>
                <p class="max-temperarure">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="min-temperature">-2</p>
                <p class="max-temp">max</p>
                <p class="max-temperarure">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="min-temperature">-2</p>
                <p class="max-temp">max</p>
                <p class="max-temperarure">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="min-temperature">-2</p>
                <p class="max-temp">max</p>
                <p class="max-temperarure">1</p>
                <a href="#" class="more-info">more info</a>
            </li>

            <li class="wheather-list-item">
                <p class="day-of-the-week">Sunday</p>
                <p class="day-of-the-month">09 Feb</p>
                <p class="wheather-icon">ikonka</p>
                <p class="min-temp">min</p>
                <p class="min-temperature">-2</p>
                <p class="max-temp">max</p>
                <p class="max-temperarure">1</p>
                <a href="#" class="more-info">more info</a>
            </li>
        </ul>
        <img class="arrow-back"
        src="./images/MM/arrow-back.png">
        <img class="arrow-next"
        src="./images/MM/arrow-back.png">
    </div>

    <p class="show-chart">Show Chart</p>
    <img class="chart-btn" 
    src="./images/MM/arrowleft.png">
    

</section>