<section class="wheather__more">
    <div class="wheather__more-container">
        <ul class="wheather__more-list">
            <li class="wheather__more-list-item">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item2">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item2">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item2">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item2">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
            <li class="wheather__more-list-item3">
                <p class="wheather__hour">00:00</p>
                <p class="wheather__icon">ikonka</p>
                <p class="wheather__temp">-2</p>
                <p class="wheather__barometer">772 mm</p>
                <p class="wheather__humidity">54%</p>
                <p class="wheather__wind">3.7 m/s</p>
            </li>
        </ul>
        <button class="arrow-next-btn" type="button"> > </button>
    </div>
</section>